body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

/* Header */
.header {
    display: flex;
    border: 0.1em solid silver;
}

.container {
    width: 60%;
    margin: 5% auto 0;
}

/* Logo */
.header figure {
    margin: 0;
    width: 20%;
    margin: auto;
}

.header figure img {
    width: 100%;
}

.header .container h1 {
    font-weight: 800;
    font-size: 3.5vw;
}

.header .container .h1 {
    color: blue;
    margin-bottom: 0;
}

.header .container .h2 {
    margin-top: 0;
    color: red;
    text-shadow: 0.05em 0.05em 0.05em black;
}

/* Rules */
.rules {
    margin: 0 auto 5%;
}

.rules h2 {
    text-align: center;
    margin: 0;
    font-size: 2.4vw;
    padding: 0.4em;
    display: flex;
}

.rules .yellow {
    background: #ffcc00;
}

.rules .blue {
    background: #3399ff;
}

/* Number */
.rules h2 .circle {
    width: 17%;
    height: 9.5vw;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    color: black;
    margin: auto;
}

/* Rule */
.rules h2 .text {
    padding: 3%;
    width: 70%;
}

/* Responsive Design */
@media (max-width: 718px) {
    .header {
        gap: 10%;
    }

    .container {
        width: 80%;
    }

    .header figure{
        width: 30%;
        padding: 0 0 0 3%;
    }

    .header .container .h1 {
        font-size: 6.1vw;
    }
    
    .header .container .h2 {
        font-size: 5.1vw;
    }
    
    .rules h2 {
        font-size: 5vw;
    }

    .rules h2 .circle {
        height: 12vw;
    }
}